{{ define "main" }}
<h1>{{ .Page.Title }}</h1>

{{ if and (isset .Params "image") .Params.image }}
    {{ $image := .Page.Resources.GetMatch .Params.image }}
    {{ with $image }}
        {{ $thumb := .Resize "1000x" }}
        {{ printf `<img src="%s" alt="%s" class="img-responsive gallery-image">` $thumb.RelPermalink .Title | safeHTML }}
    {{end}}
{{ end }}

{{ .Content }}
<div class="image-grid">
{{ if and (isset .Params "extra_images") .Params.extra_images }}
    
    {{ $images := .Params.extra_images }}
    {{ range $i := $images }}
        
        {{ $image := $.Page.Resources.GetMatch $i }}
        {{ with $image }}
            {{ $thumb := .Resize "1000x" }}
            {{ printf `<img src="%s" alt="%s" class="img-responsive ">` $thumb.RelPermalink .Title | safeHTML }}
    {{end}}
    {{end}}
{{ end }}
</div>


    {{ if and (isset .Params "extra_audio") .Params.extra_audio }}
        
        {{ $audios := .Params.extra_audio }}
        {{ range $i := $audios }}
            
            {{ $audio  := $.Page.Resources.GetMatch $i }}
            {{ with $audio }}
                <audio
                    controls
                    src="{{ $audio.RelPermalink }}">
                        Your browser does not support the
                        <code>audio</code> element.
                </audio>
            {{end}}
        {{end}}
    {{ end }}

    {{ if and (isset .Params "extra_video") .Params.extra_video }}
        
    {{ $videos := .Params.extra_video }}
    {{ range $i := $videos }}
        
        {{ $video := $.Page.Resources.GetMatch $i }}
        {{ with $video }}
            <video
                controls
                src="{{ $video.RelPermalink }}">
                    Your browser does not support the
                    <code>video</code> element.
            </video>
        {{end}}
    {{end}}
{{ end }}

{{ template "_internal/disqus.html" . }}

{{ end }}