{{ define "main" }}

<h1>Σχετικά</h1>

<p>
Μια ματιά στις σημαντικότερες στιγμές του νεώτερου ελληνικού κράτους μέσα από πρωτοσέλιδα εφημερίδων 
και άλλες πηγές <a href="about/">(περισσότερα)</a>
</p>
<br/>

<h1>Πρόσφατα πρωτοσέλιδα

</h1>
<a href='/firstpages'>Όλα</a>

<div class="image-grid">

{{ with .Site.GetPage "/firstpages" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">

        {{ $image := .Page.Resources.GetMatch .Params.image }}
        
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        {{ .Title }}
        </a>
    {{ end }}
{{ end }}
</div>

<h3><a href='/firstpages'>Περισσότερα...</a></h3>

<h1>Πρόσφατο υλικό άλλου είδους</h1>
<a href='/others'>Όλα</a>
<div class="image-grid">

{{ with .Site.GetPage "/others" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">

        {{ $image := .Page.Resources.GetMatch .Params.image }}
        
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        {{ .Title }}
                
        </a>
    {{ end }}
{{ end }}
</div>

<h3><a href='/others'>Περισσότερα...</a></h3>

<h1>Πρόσφατα άρθρα</h1>

<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

{{ end }}